doctype html
html
    head
        title Detalles Pelicula
    body 
        div
            p Titulo: #{Title}
            p #{Year}
            p #{Director}
            p #{Descripcion}
            img(src=urlImagen, alt="La imagen de la pelicula")
